export(browseSelection, browseCodelist, exploreCodes)
export(getdictionary, setdictionary, setMetadata)
export(as.codelist, codelist, print.codelist, is.codelist)
export(expandCodelist, contractCodelist, convert, compare, print.codelistComparison, merge.codelist)
export(codematch, dictis, termhas, explode, medcodeis, decode)
export(process, showhtml, export.codelist, exportall)
export(retrieveCategories, addCategory, saveCategories, removeUnusedCategories, assigncat)
export(selection, as.selection, is.selection, print.selection, length.selection)
export("&.selection", "|.selection", "!.selection", "%OR%", "%AND%", NOT)
export(getCodelist)
export("%&%")

export("export")

S3method(print, codelist)
S3method(subset, codelist)
S3method(merge, codelist)
S3method(export, codelist)

S3method(length, selection)
S3method(print, selection)
S3method("&", selection)
S3method("|", selection)
S3method("!", selection)

S3method(print, codelistComparison)

import(data.table, markdown, knitr, foreign)


