export(doseconvert, interpret, testdoseconvert)
export(as.drugdose_singlewords, as.drugdose_multiwords)
export(as.drugdose_patterns, as.drugdose_lookups)

export("export")
S3method("export", "drugdose_singlewords")
S3method("export", "drugdose_multiwords")
S3method("export", "drugdose_patterns")
S3method("export", "drugdose_lookups")

export("addterm")
S3method("addterm", "drugdose_singlewords")
S3method("addterm", "drugdose_multiwords")
S3method("addterm", "drugdose_patterns")
S3method("addterm", "drugdose_lookups")

import(data.table)
importFrom("utils", "data", "read.csv", "write.csv")