export(cohort, as.cohort, is.cohort, print.cohort, summary.cohort, merge.cohort, subset.cohort)
export(modifyDescription, purgeDescription)
export(addCodelistToCohort, addToCohort, addCategoryToCohort)
export(chooseByPriority, extractEntity, extractCodes)
export(transferVariables, transferColumns, removeVariables, removeColumns)
export(YYYYMMDDtoDate, GEN_SDCtoDate, textToDate, convertDates)
export(multiforest, multiforestPNG, multiforestPDF)
export(formatp, formatci, formatnum, formathr, percentConf, meansd, npercent, percent, nmissing)
export(istrue, isfalse)
export(importFFDF, importDT)
export(summaryTable, exportTable)
export(as.data.table.ffdf)
export(as.ffdf.data.table)
export(as.data.table.cohort)
export(as.ffdf.cohort)
export(setnames, setnames.cohort, setnames.ffdf, setnames.data.table)

S3method(print, cohort)
S3method(summary, cohort)
S3method(merge, cohort)
S3method(subset, cohort)
S3method(setnames, cohort)
S3method(setnames, data.table)
S3method(setnames, ffdf)

S3method(as.data.table, ffdf)
S3method(as.ffdf, data.table)
S3method(as.data.table, cohort)
S3method(as.ffdf, cohort)

import(grid, ff, ffbase, foreign, data.table, xtable)
